body {
    margin: 0;
    background-image: linear-gradient(#8a8884, #2e2c2a, #8a8884);
}
header {
    display: inline-block;
    padding: 5px 5px 10px 5px;
    background-image: linear-gradient(45deg, #871717, #d44c50, #871717);
    width: 100dvw;
    height: 100%;
    box-shadow: 0px 5px 8px #3B3936;

}
a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

main {
    display:flex;
    flex-direction: column;
    text-align: center;
    min-height: 100dvh;
    margin-bottom: -50px;
}
main > h1 {
    color: black;
    text-decoration: underline;
    margin: .5rem 0 .5rem 0;
}

main > h3 {
    color: whitesmoke;
    margin: .5rem 0 .5rem 0;
}
footer, .push {
    height: 50px;
}

#all_recipes {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: baseline;
    padding: 0px 10px 0px 10px;
    column-gap: 10px;
}

.flip_card {
    display:flex;
    align-items: center;
    width: 190px;
    height: 300px;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
    perspective: 1000px;
}
.recipe_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.recipe_card_front {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-image: radial-gradient(circle at center, #d44c50, #871717);
    box-shadow: 1px 1px 4px #3B3936;
}

.recipe_card_front a {
    color: white;
}

.recipe_card_back {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-image: radial-gradient(circle at center, #d44c50, #871717);
    box-shadow: 1px 1px 4px #3B3936;
    transform: rotateY(180deg);
}

.flip_card:hover .recipe_card_inner {
    transform: rotateY(180deg);
  }

.recipe_card_front, .recipe_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


#rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#star {
    background-color: none;
    background-image: radial-gradient( rgb(250, 127, 5), black);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
